# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - master

variables:
  - group: Tokens

resources:
  containers:
    - container: linux
      image: chillicream/dotnet-build:3.0

jobs:
  - job: release
    container: linux
    steps:
      - script: bash ./build.sh -target=release
        env:
          Sonar_Pr_Key: $(System.PullRequest.PullRequestNumber)
          Sonar_Branch: $(System.PullRequest.SourceBranch)
        displayName: build
