name: Release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Use .NET SDK from global.json
        uses: actions/setup-dotnet@v3
      - name: Build, Test and Push
        uses: swisslife-oss/actions/release-packages@main
        with:
          tag: ${{ github.ref_name }}
          nuget_api_key: ${{ secrets.NUGET_API_KEY }}
          enable_push: 'yes'

  sonar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            6
            7
            8
      - name: Restore tools
        run: dotnet tool restore
      - name: Build, Test and Sonar
        uses: swisslife-oss/actions/release-sonar@main
        with:
          tag: ${{ github.ref_name }}
          sonar_token: ${{ secrets.SONAR_TOKEN }}
          sonar_project_key: 'SwissLife-OSS_Snapshooter'
          sonar_project_name: 'snapshooter'
          sonar_exclusions: ${{ vars.SONAR_EXCLUSIONS }}
